# App
ENVIRONMENT=development
DEBUG=true

# Database (PostgreSQL + PostGIS)
DATABASE_URL=postgresql+asyncpg://neondb_owner:npg_NkW4luQoYV0A@ep-spring-river-advmhal3-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require
SECRET_KEY=56c92199caf3cb54398e188e41cc43b6907d1fdca75d3a237672fe03642fa20e
# Redis
REDIS_URL=redis://localhost:6379

# Auth
SECRET_KEY=bc00c1809f07bce55096da8e24f4c4209fc40862c28093f7da65b3513dd1ec7a

# Cloudinary
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name

# Resend
RESEND_API_KEY=re_your_key_here

# CORS
ALLOWED_ORIGINS=["http://localhost:3000"]
